.jumbotron {
  background: #0f0f0f;
  color: #99ccff;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #0f0f0f;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
