<!--https://www.runoob.com/try/demo_source/bootstrap3-glyph-icons.htm-->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
	  <li>
        <a href="/"><span class="glyphicon glyphicon-book"></span> 作品</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon .glyphicon-user"></span> 作者連結 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://home.gamer.com.tw/homeindex.php?owner=cies96035"> 巴哈姆特</a></li>
            <li class="divider"></li>
            <li><a href="https://toj.tfcis.org/oj/acct/1924/"> Tnfsh Online Judge</a></li>
            <li><a href="https://uhunt.onlinejudge.org/id/927726"> Uhunt</a></li>
            <li><a href="https://github.com/cies96035"> Github</a></li>
          </ul>
      </li>
	</ul>
  </div>
</nav>
