AddType application/x-httpd-php .png
AddHandler application/x-httpd-php .png

#<FilesMatch ".+\.png$">
#	SetHandler "proxy:unix:/run/php/php7.0-fpm-cies96035.sock|fcgi://localhost"
#</FilesMatch>


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
